functions_framework
langchain=="0.3.26"
langchain-core=="0.3.70"
langchain-text-splitters=="0.3.8"
langchain-openai=="0.3.28"
langchain-chroma=="0.2.4"
langchain-community=="0.3.27"
openai=="1.97.0"
chromadb=="1.0.15"
google-cloud-secret-manager=="2.24.0"